@import url('https://fonts.googleapis.com/css?family=Open+Sans: 100, 200, 300, 400, 500, 600, 700, 800, 900');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    user-select: none;
}

:root
{
    /* Font Sizes */

    --heading-one-font-size: 40px;
    --heading-two-font-size: 35px;
    --heading-three-font-size: 30px;
    --heading-four-font-size: 25px;
    --heading-five-font-size: 25px;
    --heading-six-font-size: 18px;
    --paragraph-font-size: 18px;
    
        
    /* Colors */
    --body-background-color: #fff;
    --nav-background-color: #000;
    --primary-text-color: #000;
    --secondary-text-color: #fff;
    --tertiary-text-color: #707070;
    --quaternary-text-color: #ddd;

    /* Buttons */
    --cta-btn-color: #000;
    --cta-btn-border-color: #000;
    --cta-btn-hover-color: #fff;
    --cta-btn-hover-background-color: #000;

    /* Dividers */
    --divider-background-color: #707070;

    /* Radii */
    --base-border-radius: 10px;

    /* Shadows */
    --text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    --box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

body
{
    font-family: 'Times New Roman', sans-serif;
    overflow-x: hidden;
}

main
{
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px;
    height: 100dvh;
}

header
{
    font-family: inherit;
}

h1
{
    font-size: var(--heading-one-font-size);
}

h2
{
    font-size: var(--heading-two-font-size);
}

h3
{
    font-size: var(--heading-three-font-size);
}

h4
{
    font-size: var(--heading-four-font-size);
}

h5
{
    font-size: var(--heading-five-font-size);
}

h6
{
    font-size: var(--heading-six-font-size);
}

p
{
    font-family: inherit;
    font-size: var(--paragraph-font-size);
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

button
{
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
}

img
{
    display: block;
    height: auto;
    width: 100%;
    object-fit: contain;
}