/* Navigation Menu */
nav.main-nav
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 60px;
    padding: 30px 40px;
    height: 100px;
    width: 100%;
    background-color: var(--nav-background-color);
    

    .logo
    {
        height: 100%;    
        width: 250px;
    }

    .search-and-toggle-container
    {
       display: flex;
       justify-content: end;
       align-items: center;
       gap: 30px;

        & > div
        {
            display: flex;
            justify-content: end;
            position: relative;
            color: var(--secondary-text-color);

            .search-icon
            {
                color: #fff;
                height: 25px;
                width: 25px;
                cursor: pointer;
            }
        }

        .btn.menu-toggle-btn
        {
            height: 40px;
            width: 40px;

            .menu-toggle-btn-line
            {
                display: inline-block;
                background-color: #fff;
                height: 2px;
                width: 100%;
                transition: transform .2s ease-in;

            }

            &.active
            {
                .menu-toggle-btn-line:nth-child(1)
                {
                    transform: rotate(45deg) translate(5px, 5px);
                    transform-origin: center;
                }
            
                .menu-toggle-btn-line:nth-child(2)
                {
                    transform: rotate(-45deg) translate(5px, -7.5px);
                    transform-origin: center;
                }
            }
        }
    }
}

/* Modiule Menu Content Container */
.container.mobile-menu-content-container
{
    position: absolute;
    width: 100dvw;
    right: -100vw;
    height: 100dvh;
    background-color: var(--nav-background-color);
    opacity: 0;
    transition: right .2s ease-in, opacity .2s ease-in;
    z-index: 10000;

    &.active
    {
        right: 0;
        opacity: 1;
        transition: right .2s ease-in, opacity .2s ease-in;
    }


    & ul
    {
        margin-left: 40px;

        & li
        {
            font-size: 30px;
            font-weight: 200;

            & a
            {
                position: relative;
                color: var(--secondary-text-color);


                &::before
                {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    height: 1px;
                    width: 0;
                    border-bottom: 2px solid #fff;
                    opacity: 0;
                    transition: width .2s ease-in, opacity .1s ease-in;
                }

                &:hover::before
                {
                    width: 100%;
                    opacity: 1;
                    transition: width .2s ease-in, opacity .1s ease-in;
                }
            }

            
            &:not(:last-child)
            {
                margin-bottom: 50px;
            }
        }
    }

    .container.socials-container
    {
        position: relative;

        & ul
        {
            position: absolute;
            bottom: -300px;
            left: 50%;
            transform: translate(-70%, -50%);
            display: flex;
            gap: 30px;
            opacity: 0;
            transition: opacity .2s ease-in .1s, bottom .2s ease-in .1s;
        }

        &.active
        {
            ul
            {
                opacity: 1;
                bottom: -250px;
                transition: opacity .2s ease-in .1s, bottom .2s ease-in .1s;
            }
        }

        & ul li a img
        {
            height: 20px;
        }
    }
}

/* Section: Slider */
.slider
{
    position: relative;
    height: 400px;
    width: 100vw;
    z-index: 100;
    margin-top: 0;

    & .slide
    {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;

        &.current
        {
            transform: translateX(0);
            z-index: 10;
        }

        /* Previous slide moves out to the left */
        &.previous
        {
            transform: translateX(-100%);
        }

        /* Next slide moves in from the right */
        &.next
        {
            transform: translateX(100%);
        }

        
        &:first-child
        {
             background: url('../assets/slider/coffee_beans.jpg') no-repeat
            center top/cover;
        }

        &:nth-child(2)
        {
            background: url('../assets/slider/latte_art.jpg') no-repeat
            center top/cover;
        }
        
        &:nth-child(3)
        {
            background: url('../assets/slider/iced_coffee.jpg') no-repeat
            center top/cover;
        }
    } 
}
  

.container.container.slider-control-btns-container
{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    z-index: 100;

    & button img
    {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(240deg);
    }
}

/* Section: Slider Text & Articles */
.slider-text-and-articles-section 
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .container.slide-desc-container 
    {  
        align-self: center;
        position: relative;
        width: 75dvw;
        height: 300px;
        background-color: #000;
        margin-top: -120px;
        color: #fff;
        z-index: 1000;

        & article 
        {
            opacity: 0;
            transition: opacity .3s ease-in;

            &.current-slide-article 
            {
                opacity: 1;
                transition: opacity .3s ease-in;
            }
        }

        & p 
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 300;
            font-size: 30px;
            width: 100%;
            padding: 30px;
        }
    }

    & .container.articles-container 
    {
        
        width: 75dvw;
        display: grid;
        grid-template-columns: 1fr;
        gap: 45px;
        align-items: center;
        text-align: center;
        margin-top: 50px;

        & article
        {
            padding-left: calc(25dvw / 2);
            text-align: left;
            color: var(--primary-text-color);

            & img
            {
                height: 300px;
                width: 75dvw;
                object-fit: cover;
            }

            & header
            {
                margin-top: 20px;

               
                & h6
                {
                    margin-top: 10px;
                }
            }

            & .date
            {
                color: var(--date-color);
            }

            & p
            {
                margin-top: 10px;
            }
        }
    }
}

/* Section: Pagination */
section.pagination
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 calc(25dvw / 2) 0 calc(25dvw / 2);
    margin-top: 60px;
    width: 100%;
    height: 150px;
    border-block: 2px solid #ccc;

    & .page-counter
    {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
}

