/* TEXT CLASSES */
.primary-text
{
    color: var(--primary-text-color);
}

.secondary-text
{
    color: var(--secondary-text-color);
}

.tertiary-text
{
    color: var(--tertiary-text-color);
}

.quaternary-text
{
    color: var(--quaternary-text-color);
}


/* BUTTONS */
.cta-btn
{
    border: 1px solid var(--cta-btn-border-color);
    padding: 10px 15px;
    font-size: var(--cta-btn-font-size);
    margin-top: 15px;
    transition: color .15s ease-in, background .15s ease-in;

    &:hover
    {
        color: var(--cta-btn-hover-color);
        background-color: var(--cta-btn-hover-background-color);
    }
}

/* Call To Action */
.cta-btn.prev-btn,
.cta-btn.next-btn
{
    padding: 10px 15px;
    min-width: 60px;
    width: fit-content;
    border: 2px solid var(--cta-btn-border-color);
    border: 1px solid var(--cta-btn-border-color);
    transition: color .15s ease-in, background .15s ease-in;
}

.prev-btn:hover
{
    color: var(--cta-btn-hover-color);
    background-color: var(--cta-btn-hover-background-color);
    transition: color .15s ease-in, background .15s ease-in;
}

.article-text,
.modal-text
{
    line-height: 1.6;
    font-size: calc(var(--paragraph-font-size) * 1.1);
}


/* Date */
.date
{
    font-weight: lighter;
    margin: 10px 0 20px 0;
    color: var(--date-color);
}


/* Add-on Classes */
.opened
{
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform .2s ease-in;
}
